@{
    ViewBag.Title = "Edit Menu Item";
}

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/admin/menus/item.js"></script> 
}

<div style="display: none;" data-bind="visible: true">

    <div class="page-header">
        <h1>Menu Item</h1>
    </div>

    <form id="editMenuItemForm" name="editMenuItemForm" class="form-horizontal" role="form">
        <div class="form-group has-feedback">
            <label for="page" class="col-md-2 control-label">Type</label>
            <div class="col-md-4">
                <select id="itemTypes" name="itemTypes" data-bind="options: itemTypes, optionsText: 'name', optionsValue: 'id', value: menuItemType" class="form-control"></select>
            </div>
        </div>

        <div class="form-group has-feedback" data-bind="visible: menuItemType() == 1">
            <label for="page" class="col-md-2 control-label">Page</label>
            <div class="col-md-4">
                <select id="pages" name="pages" data-bind="options: pages, optionsText: 'name', optionsValue: 'id', value: pageId" class="form-control"></select>
            </div>
        </div>

        <div class="form-group has-feedback" data-bind="visible: menuItemType() == 2">
            <label for="link" class="col-md-2 control-label">Link</label>
            <div class="col-md-4">
                <input id="link" name="link" type="text" data-bind="value: link" class="form-control" placeholder="Enter Link">
                <i class="form-control-feedback glyphicon"></i>
            </div>
            <div class="col-md-6 help-block">
                <label id="link-error" for="url" class="text-danger" style="display:none;"></label>
            </div>
        </div>

        <!-- ko ifnot: menuItemLocalisations().length > 0 -->
        <div data-bind="template: { name: 'menuItemDefaultLocalisation-template' }"></div>
        <!-- /ko -->
        <!-- ko if: menuItemLocalisations().length > 0 -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#Default" data-toggle="tab">Default</a>
            </li>
            <!-- ko foreach: menuItemLocalisations -->
            <li>
                <a data-bind="text: languageName, attr: { href: '#' + languageName() }" data-toggle="tab"></a>
            </li>
            <!-- /ko -->
        </ul>
        <div class="tab-content" style="margin:25px 0 35px;">
            <div id="Default" data-bind="template: { name: 'menuItemDefaultLocalisation-template' }" class="tab-pane active"></div>
            <!-- ko foreach: menuItemLocalisations -->
            <div data-bind="attr: { id: languageName }, template: { name: 'menuItemLocalisation-template' }" class="tab-pane"></div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="save" type="submit" class="btn btn-primary" value="Save" title="Save" />
                <button id="cancel" data-bind="click: cancel" class="btn btn-default" title="Cancel">Cancel</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span id="savingMenuItem" style="display:none;">
                    Saving...
                </span>
            </div>
        </div>
    </form>

    <script id="menuItemDefaultLocalisation-template" type="text/html">
        <div class="form-group has-feedback">
            <label for="text" class="col-md-2 control-label">Text</label>
            <div class="col-md-4">
                <input id="text" name="text" type="text" data-bind="value: text" class="form-control" placeholder="Enter Text">
                <i class="form-control-feedback glyphicon"></i>
            </div>
            <div class="col-md-6 help-block">
                <label id="text-error" for="text" class="text-danger" style="display:none;"></label>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="title" class="col-md-2 control-label">Title</label>
            <div class="col-md-4">
                <input id="title" name="title" type="text" data-bind="value: title" class="form-control" placeholder="Enter Title">
                <i class="form-control-feedback glyphicon"></i>
            </div>
            <div class="col-md-6 help-block">
                <label id="title-error" for="title" class="text-danger" style="display:none;"></label>
            </div>
        </div>
    </script>

    <script id="menuItemLocalisation-template" type="text/html">
        <div class="form-group has-feedback">
            <label data-bind="attr: { for: 'text-' + languageName() }" class="col-md-2 control-label">Text</label>
            <div class="col-md-4">
                <input data-bind="attr: { id: 'text-' + languageName(), name: 'text-' + languageName() }, value: text" type="text" class="form-control validate-localisation-text" placeholder="Enter Text">
                <i class="form-control-feedback glyphicon"></i>
            </div>
            <div class="col-md-6 help-block">
                <label data-bind="attr: { id: 'text-error-' + languageName(), for: 'text-' + languageName() }" class="text-danger"  style="display:none;"></label>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label data-bind="attr: { for: 'title-' + languageName() }" class="col-md-2 control-label">Title</label>
            <div class="col-md-4">
                <input data-bind="attr: { id: 'title-' + languageName(), name: 'title-' + languageName() }, value: title" type="text" class="form-control validate-localisation-title" placeholder="Enter Title">
                <i class="form-control-feedback glyphicon"></i>
            </div>
            <div class="col-md-6 help-block">
                <label data-bind="attr: { id: 'title-error-' + languageName(), for: 'title-' + languageName() }" class="text-danger" style="display:none;"></label>
            </div>
        </div>
    </script>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteModal">Confirm Delete</h4>
                </div>
                <div class="modal-body" data-bind="text: confirmDeleteMenuItemMessage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok" data-dismiss="modal" data-bind="click: deleteMenuItem">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>
