@using Weapsy.Reporting.Users
@model UserAdminModel

<div class="form-group has-feedback">
    <label for="email" class="col-md-2 control-label">Email</label>
    <div class="col-md-4">
        <input id="originalEmail" type="hidden" value="@Model.Email" />
        <input id="email" name="email" type="text" class="form-control" placeholder="Enter Email" value="@Model.Email">
        <i class="form-control-feedback glyphicon"></i>
    </div>
    <div class="col-md-6 help-block">
        <label id="email-error" for="email" class="text-danger" style="display:none;"></label>
    </div>
</div>