@model Weapsy.Reporting.Languages.LanguageAdminModel

@{
    ViewBag.Title = "Create New Language";
}

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/admin/languages/shared.js"></script>
    <script src="~/js/admin/languages/create.js"></script>
}

<div class="page-header">
    <h1>Create Language</h1>
</div>

<form id="createLanguageForm" class="form-horizontal" role="form">
    @await Html.PartialAsync("_Language")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="save" type="submit" class="btn btn-primary" title="Save">Save</button>
            <a href="@Url.Action("Index", "Language", new { area = "Admin" })" class="btn btn-default" title="Cancel">Cancel</a>
        </div>
    </div>
</form>