@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityUser

@inject UserManager<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityUser> UserManager
@inject RoleManager<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole> RoleManager

@{
    ViewBag.Title = "Roles";
}

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/admin/users/shared.js"></script>
    <script src="~/js/admin/users/roles.js"></script>   
}

<div class="page-header">
    <h1>User Roles (@Model.Email)</h1>
</div>

<div class="col-md-3">
    <h3>Available Roles</h3>
    <ul id="available-roles" class="list-group">
        @foreach (var role in RoleManager.Roles.ToList())
        {
            <li class="list-group-item">
                <span class="glyphicon glyphicon-option-vertical handle" aria-hidden="true"></span>
                <span>@role</span>
            </li>
        }
    </ul>
</div>

<div class="col-md-1"></div>

<div class="col-md-3">
    <h3>User Roles</h3>
    <ul id="user-roles" class="list-group">
        @foreach (var role in await UserManager.GetRolesAsync(Model))
        {
            <li class="list-group-item">
                <span class="glyphicon glyphicon-option-vertical handle" aria-hidden="true"></span>
                <span>@role</span>
            </li>
        }
    </ul>
</div>
