@* HORRIBLE TEMPORARY IMPLEMENTATION :-) *@

@model IEnumerable<Weapsy.Reporting.Languages.LanguageInfo>

@if (Model.Count() > 1)
{
    <ul class="nav navbar-nav">
        <li><a>|</a></li>
        @foreach (var language in Model)
        {
            <li>
                <a href="@Url.Action("SetLanguage", "Home", new { culture = language.Url})" title="@language.Name">@language.Name</a>
            </li>
        }
    </ul>
}