/**
{
    margin:0;
    padding:0;
}*/

html, body, .container {
    height: 100%;
}

body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    background-color: #f5f5f5;
}

.container {
    width: 100%;
}

/*.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.nav-bar {
    margin-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    /*background-color: #fff;
    border-left:solid 1px #e7e7e7;*/
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.handle {
    cursor: move;
}

.placeholder {
    outline: 1px dashed #286090;
    margin: 8px 2px;
}

ol.sortable, ol.sortable ol {
    list-style-type: none;
}

.list-group-item .options {
    float: right;
    margin-left: 8px;
}

table {
    font-size: 14px;
}

.page-header {
}

.wrapper {
    padding: 0;
    min-height: 920px;
    background-color: #fff;
    border-left: solid 1px #ddd;
}

@media(min-width:768px) {
    .wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
    }
}

.sidebar {
    padding: 0;
    margin: 0;
    left: 0;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.connected-list {
    border: 1px solid #eee;
    min-height: 50px;
    padding: 10px;
    list-style-type: none;
}

.placeholder {
    outline: 1px dashed #286090;
    background-color: #e4ecf3;
    padding: 10px;
    margin: 8px 2px;
    min-height: 50px;
}

.main-state {
    top: 0;
    left: 50%;
    position: fixed;
    width: auto;
    height: 51px;
    z-index: 100000;
    text-align: center;
}

.main-state div {
    color: #ddd;
    margin-top: 7px;
}

.main-state i {
    font-size: 35px;
    vertical-align: middle;
    margin-right: 3px;
}

.main-state span {
    font-size: 14px;
}

.main-success span {
    color: #3c763d;
}

.checkbox-input {
    padding-top: 8px;
}