body {
    padding-top: 170px;
}

#control-panel {
    height: 120px;
    padding: 10px;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 10000;
    background-color: #444;
    border-bottom: 1px solid #000;
}

/*#control-panel a:link, a:visited {
    color: #ddd;
}*/

.help {
    color: #eee;
}

.handle {
    cursor: move;
}

.placeholder {
    outline: 1px dashed #286090;
    background-color: #e4ecf3;
    padding: 10px;
    margin: 8px 2px;
    min-height: 50px;
}

.moduleTypes {
    top: 25px;
    left: 25px;
    position: absolute;
    width: 250px;
    z-index: 100000;
}

.moduleType {
    width: 180px;
}

.zone.edit-mode {
    border:1px dotted #ccc;
    padding:10px 10px 0;
    min-height: 50px;
    list-style-type: none;
}

.zone p.zone-name {
    color: #bbb;
    font-weight: normal;
}

.module {
    margin-bottom:20px;
}

.module-bar .module-actions {
    float: right;
}

.module-actions {
    width: 15px;
}

.module-actions > li > a {
    padding: 0;
}

.modal.modal-admin .modal-dialog {
    width: 90%;
}

.modal-backdrop.fade.in:nth-child(2){
    z-index: 1060 !important;
}

.main-state {
    top: 0;
    left: 50%;
    position: absolute;
    width: auto;
    height: 51px;
    z-index: 100000;
    text-align: center;
}

.main-state div {
    color: #ddd;
    margin-top: 7px;
}

.main-state i {
    font-size: 35px;
    vertical-align: middle;
    margin-right: 3px;
}

.main-state span {
    font-size: 14px;
}

.main-success span {
    color: #3c763d;
}