@model Weapsy.Reporting.Pages.ModuleModel

<div id="@Model.Id" class="panel panel-default module" data-module-id="@Model.Id">
    @await Component.InvokeAsync("ModuleActions", new { model = Model })
    @*<div>
    @Model.Title
    </div>*@
    <div class="panel-body">
        @if (Model.ModuleType.ViewType == Weapsy.Domain.ModuleTypes.ViewType.ViewComponent)
        {
            @await Component.InvokeAsync(Model.ModuleType.ViewName, new { model = Model })
        }
        else if (Model.ModuleType.ViewType == Weapsy.Domain.ModuleTypes.ViewType.View)
        {
            // partial view
        }
    </div>
</div>
