<div class="main-state">
    <div id="main-loading" class="main-loading" style="display: none;">
        <i id="main-loading-icon" class="fa fa-circle-o-notch fa-spin"></i>
        <span id="main-loading-text"></span>
    </div>
    <div id="main-success" class="main-success" style="display: none;">
        <i id="main-success-icon" class="fa fa-check text-success"></i>
        <span id="main-success-text"></span>
    </div>
</div>