<ul class="nav">
    <li>
        <a asp-controller="Home" asp-action="Index" title="Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a asp-controller="Page" asp-action="Index" title="Pages"><i class="fa fa-files-o fa-fw"></i> Pages</a>
    </li>
    <li>
        <a asp-controller="Menu" asp-action="Index" title="Menus"><i class="fa fa-sitemap fa-fw"></i> Menus</a>
    </li>
    <li>
        <a asp-controller="Site" asp-action="Index" title="Site Settings"><i class="fa fa-gear fa-fw"></i> Site Settings</a>
    </li>
    <li>
        <a asp-controller="Language" asp-action="Index" title="Languages"><i class="fa fa-language fa-fw"></i> Languages</a>
    </li>
    <li>
        <a asp-controller="User" asp-action="Index" title="Users"><i class="fa fa-users fa-fw"></i> Users</a>
    </li>
    <li>
        <a asp-controller="Role" asp-action="Index" title="Roles"><i class="fa fa-lock fa-fw"></i> Roles</a>
    </li>
    <li>
        <a asp-controller="App" asp-action="Index" title="Apps"><i class="fa fa-puzzle-piece fa-fw"></i> Apps</a>
    </li>
    <li>
        <a asp-controller="Theme" asp-action="Index" title="Themes"><i class="fa fa-photo fa-fw"></i> Themes</a>
    </li>
</ul>